/* Estilos para la tabla */
.pictogram-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .pictogram-table th, .pictogram-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .pictogram-table th {
    background-color: #f2f2f2;
  }
  
  /* Estilos para la paginación */
  .pagination {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .pagination button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  